<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<div class="gradient-background">
    <div class="wall-header">
        <div class="wall-header__connect-tab">Connect Wall</div>
        <div class="wall-header__chat-tab">Chat</div>
    </div>  <!-- wall-header -->
    {{user.username}}
    <div id="chat_section_wrapper" data-id="{{chat_friend.member_id}}">
        <div class="all_Chat_messages"></div>
    </div>
    <input id="send_message_input" type="text" placeholder="Send message..">
</div>  <!-- Gradient Background -->

<script>
  var socket = io();
  
  socket.emit('attach_user_info', {"member_id": "{{user.member_id}}", "user_name":"{{user.username}}"});
    
  socket.on("message_from_server", function(received_msg){
    console.log("received_msg", received_msg);
    $(".all_Chat_messages").append("<div class='usr_msg'>" + "<span class='user_with_message'>"+received_msg.user_name+":</span>" + "<div class='usr_msg_box'><p>" + received_msg.msg + "</p>" + "</div>" + "</div>")
  });
  
  
</script>