@media only screen and (min-width:700px){
    .group-invitation-block{
        display: flex;
        justify-content: space-between;
    }
    .group-invitation-block__accept-invitation{
        width: auto;
    }
    .post-form--desktop{
        display: flex;
        width: 750px;
    }
    .post-form__description{
        width: 85%;
    }
    .post-form--mobile{
        display: none;
    }
    
}