.chat_section{
    bottom: 0;
    background-color: #ffffff;    
    height: 400px;
    left: 0;
    padding: 10px;
    position: fixed;
    width: 100%;
}
.chat_button{
    text-decoration: none;
}
.chat_close{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 0px;
}
#send_message{
    position: absolute;
    bottom: 0;
    width: 90%;
}
#send_message_input{
    bottom: 0;
    position: fixed;
    width: 100%;    
}
.user_with_message{
    font-size: 11px;
    opacity: 0.6;
}
.usr_msg_box{
    font-size: 14px;
}
.usr_msg:nth-of-type(odd){
    background-color: rgba(78,26,175,0.85);
    border-radius: 0 14px 14px 14px;
    color: $color__primary--white;
    padding: 10px;
    width: 80%;
}
.usr_msg:nth-of-type(even){
    background-color: rgba(74,171,239,0.85);
    border-radius: 14px 0 14px 14px;
    color: $color__primary--white;
    float: right;
    margin-top: 10px;
    padding: 10px;
    width: 80%;
}
.usr_msg_box p{
    margin: 0;
}