<a href="/"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>  
<div class="container">
    <div class="common-title-block">
        <i class="fas fa-calendar"></i> <h1 class="common-title-block__title">Conference Schedule</h1>
    </div>    

<div class="accordion-block">
    <button class="accordion-block__button">January 29th 2018</button>
    <div class="accordion-block__panel">
        <div class="accordion-block__panel--padding">
            <h5 class="accordion-block__date">January 29th 2018</h5>
            <p class="accordion-block__description">12:00pm @ 123 fake street,</p>
            <p class="accordion-block__description">Sydney, NSW 2000</p>
            <p class="accordion-block__description">Description will go here to say anything else they want. </p>
        </div>
    </div>

    <button class="accordion-block__button">January 29th 2018</button>
    <div class="accordion-block__panel">
        <div class="accordion-block__panel--padding">
            <h5 class="accordion-block__date">January 29th 2018</h5>
            <p class="accordion-block__description">12:00pm @ 123 fake street,</p>
            <p class="accordion-block__description">Sydney, NSW 2000</p>
            <p class="accordion-block__description">Description will go here to say anything else they want.</p>
        </div>
    </div>

    <button class="accordion-block__button">January 29th 2018</button>
    <div class="accordion-block__panel">
        <div class="accordion-block__panel--padding">
            <h5 class="accordion-block__date">January 29th 2018</h5>
            <p class="accordion-block__description">12:00pm @ 123 fake street,</p>
            <p class="accordion-block__description">Sydney, NSW 2000</p>
            <p class="accordion-block__description">Description will go here to say anything else they want.</p>
        </div>
    </div>

    <button class="accordion-block__button">January 29th 2018</button>
    <div class="accordion-block__panel">
        <div class="accordion-block__panel--padding">
            <h5 class="accordion-block__date">January 29th 2018</h5>
            <p class="accordion-block__description">12:00pm @ 123 fake street,</p>
            <p class="accordion-block__description">Sydney, NSW 2000</p>
            <p class="accordion-block__description">Description will go here to say anything else they want.</p>
        </div>
    </div>

    <button class="accordion-block__button">January 29th 2018</button>
    <div class="accordion-block__panel">
        <div class="accordion-block__panel--padding">
            <h5 class="accordion-block__date">January 29th 2018</h5>
            <p class="accordion-block__description">12:00pm @ 123 fake street,</p>
            <p class="accordion-block__description">Sydney, NSW 2000</p>
            <p class="accordion-block__description">Description will go here to say anything else they want.</p>
        </div>
    </div>

    <button class="accordion-block__button">January 29th 2018</button>
    <div class="accordion-block__panel">
        <div class="accordion-block__panel--padding">
            <h5 class="accordion-block__date">January 29th 2018</h5>
            <p class="accordion-block__description">12:00pm @ 123 fake street,</p>
            <p class="accordion-block__description">Sydney, NSW 2000</p>
            <p class="accordion-block__description">Description will go here to say anything else they want.</p>
        </div>
    </div>

    <button class="accordion-block__button">January 29th 2018</button>
    <div class="accordion-block__panel">
    <h5 class="accordion-block__date">January 29th 2018</h5>
    <p class="accordion-block__description">12:00pm @ 123 fake street,</p>
    <p class="accordion-block__description">Sydney, NSW 2000</p>
    <p class="accordion-block__description">Description will go here to say anything else they want.</p>
    </div>

    <button class="accordion-block__button">January 29th 2018</button>
    <div class="accordion-block__panel">
    <h5 class="accordion-block__date">January 29th 2018</h5>
    <p class="accordion-block__description">12:00pm @ 123 fake street,</p>
    <p class="accordion-block__description">Sydney, NSW 2000</p>
    <p class="accordion-block__description">Description will go here to say anything else they want.</p>
    </div>

    <button class="accordion-block__button">January 29th 2018</button>
    <div class="accordion-block__panel">
    <h5 class="accordion-block__date">January 29th 2018</h5>
    <p class="accordion-block__description">12:00pm @ 123 fake street,</p>
    <p class="accordion-block__description">Sydney, NSW 2000</p>
    <p class="accordion-block__description">Description will go here to say anything else they want.</p>
    </div>
    </div>
</div>

<script>
var acc = document.getElementsByClassName("accordion-block__button");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>