<ul class="footer">
    <li class="footer__list"><a href="/groups">Group</a></li>
    <li class="footer__list"><a href="/friends/friend-requests">Friend Requests</a></li>
    <li class="footer__list"><a href="/friends/users">Discover</a></li>
</ul>