
 <div class="wall-header">
        <a href="/" class="wall-header__connect-tab">The Wall</a>
        <a href="/friends" class="wall-header__chat-tab">Chat</a>
        <div class="drop-menu">
            <a href="javascript:void(0)" onclick="openNav()"><img src="/images/menu-new.svg" class="drop-menu__button" /></a>
        </div> 

    <div id="mySidenav" class="sidenav">
        <div class="sidenav__in">
            <a href="/users/logout" class="logout-btn"><i class="fas fa-sign-out-alt"></i></a>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        {{#each users}}
            {{#each user_profile}}
                <div class="profile-block">
                   <a href="/users/profile"> <img src="../images/{{this.profilepic}}" alt="" class="profile-block__profile-pic" /></a>
                    <div class="profile-block__right">
                        <a href="/users/profile">
                            <h3 class="profile-block__username">{{../this.username}}</h3>
                        </a>
                        <a class="profile-block__edit-profile-btn" href="/users/editprofile">Edit Profile</a>
                    </div>
                </div>
            {{/each}}
        {{/each}}

        <div class="menu-link-block">
            <a href="/conference-schedule" class="menu-link-block__link"><i class="fas fa-calendar"></i> Conference Schedule</a>
            <a href="/announcement" class="menu-link-block__link"><i class="fas fa-volume-down"></i> Announcements</a>
            <a href="/friends/users" class="menu-link-block__link"><i class="fa fa-search" aria-hidden="true"></i> Discover People</a>            
            <a href="/friends/friend-requests" class="menu-link-block__link"><i class="fas fa-user"></i>  Friend Requests</a>
            <a href="/groups" class="menu-link-block__link"><i class="fas fa-users"></i>  Groups</a>
            <a href="/groups/invitations" class="menu-link-block__link"><i class="fas fa-users"></i>  Groups Invitations</a>
            
           {{#if isAdmin}} <a href="/admin" class="menu-link-block__link"><i class="fa fa-cog" aria-hidden="true"></i>  Admin</a>{{/if}}
        </div>  
    </div>
</div>
</div>

<script>
     function openNav() {        
        document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>