<div class="container-login">
    <div class="header">        
        <img src="../images/logo-new.svg" alt="" />
    </div> 
    <h2 class="not-approved-text">Thank you for signing up. Your join request has been sent. Please check back soon or contact one the admins to add you as a member.</h2>
    <a href="/users/logout" class="form-group__login-btn background-color--blue"><i class="fas fa-sign-out-alt"></i> Logout</a>
    <button type="button" class="refresh-btn form-group__login-btn" onClick="Refresh()">Refresh</button>
</div>