%common-title{
    color: $color__purple;
    font-size: em(14px);
    font-weight: 900;
    margin: 0;
}
.friend-list{
    align-items: center;
    border-bottom: 1px solid rgba(137,169,253,.35);  
    display: flex;
    margin: 15px;
    padding-bottom: 15px;
    justify-content: space-between;    
}
.friend-list-top{
    align-items: center;
    display: flex;
    justify-content: space-between;    
}
.friend-list__profile-pic{ 
    box-shadow: 0 3px 9px 0 rgba(99,120,201,0.45);
    border-radius: 100px;   
    height: 50px;
    margin-right: 15px;
    width: 50px;
}
.friend-list__profile-pic img{
    border-radius: 100px;
    width: 50px;
    height: 50px;
}
.friend-list__detail{
    width: 83%;
}
.friend-list__username{    
    color: $color__purple;
    font-size: em(14px);
    font-weight: 900;
    margin-bottom: 0;
    text-transform: capitalize;
}
.friend-list__description{
    color: $color__primary;   
    font-size: em(12px);
    font-weight: 300;    
    margin-top: 2px;
}
.friend-list i{
    color: $color__purple;
    font-size: 20px;
}
.request-btn{
    background: transparent;
    border: none;
}