<div class="gradient-background">
    <div class="wall-header">
        <div class="wall-header__connect-tab">Connect Wall</div>
        <div class="wall-header__chat-tab">Chat</div>
    </div>  <!-- wall-header -->
    <div class="drop-menu">
        <a href="javascript:void();"><img src="/images/menu.svg" class="drop-menu__button" /></a>
    </div>
    <h1>Pending Requests</h1>
    {{#each friendrequests}}
        {{#each user_details}}
            <div class="pending-request" id="{{member_id}}">
                <div class="friend-list__profile-pic">
                {{#each user_profile}}
                    <img src="../images/{{profilepic}}" />
                {{/each}}
                </div>
                <h2 class="pending-request__title">{{username}}</h2> 
                {{#each user_profile}}
                    <p class="friend-list__description">{{{description}}}</p>
                {{/each}}
                <button class="pending-request__accept-btn" id ="accept_friend_request">Accept</button>       
            </div>
        {{/each}}
    {{/each}}
</div>    