
.send-invitaion-block{
    margin-top: 50px;
}
.send-invitaion-block__input{
    border: none;
    border-bottom: 2px solid rgba(194,123,255,1);
    background: none;
    color: $color__purple;
    font-size: 1.0714285714em;
    padding: 5px 10px 7px 25px;
    width: 100%;
}
.send-invitaion-block__send-btn{
    background: $color__dark-blue;
    border: none;
    border-radius: 27px;
    box-shadow: 0 4px 5px 0 rgba(78,26,175,.26);
    color: #fff;
    display: block;
    font-size: .8571428571em;
    font-weight: 400;
    margin-top: 50px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    width: 100%;
}
.join-group-title-block{
    text-align: center;
    margin-top: 100px;
}
.join-group-title-block__heading{
    margin-left:10px;
    color: $color__purple;
    display: inline-block;
    font-size: em(24px);
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.join-group-title-block i{
    position: relative;
    font-size: 35px;
    color: $color__purple;
}

//Placeholder stylize
.send-invitaion-block__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color__purple;
    font-size: em(12px);
    opacity: 0.5;
  }
  .send-invitaion-block__input::-moz-placeholder { /* Firefox 19+ */
    color: $color__purple;
    font-size: em(12px);
    opacity: 0.5;
  }
  .send-invitaion-block__input:-ms-input-placeholder { /* IE 10+ */
    color: $color__purple;
    font-size: em(12px);
    opacity: 0.5;
  }
  .send-invitaion-block__input:-moz-placeholder { /* Firefox 18- */
    color: $color__purple;
    font-size: em(12px);
    opacity: 0.5;
  }