%group-title{
    color: #89A9FF;
    font-size: em(12px);
    margin: 0;
}
%group-input{
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    color: $color__primary--white;
    display: block;
    margin-bottom: 20px;
    padding: 10px 10px 10px 0;
    width: 100%;
}

//Placeholder stylize
.create-group-block{
    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color__primary--white;
    font-size: em(12px);
    opacity: 0.5;
  }
}
.create-group-block{
  input::-moz-placeholder { /* Firefox 19+ */
    color: $color__primary--white;
    font-size: em(12px);
    opacity: 0.5;
  }
}
.create-group-block{
input:-ms-input-placeholder { /* IE 10+ */
    color: $color__primary--white;
    font-size: em(12px);
    opacity: 0.5;
  }
}

  .create-group-block__title{
  input::-moz-placeholder { /* Firefox 18- */
    color: $color__primary--white;
    font-size: em(12px);
    opacity: 0.5;
  }
}
.group-block{
    align-items: center;
    border-bottom: 1px solid rgba(137,169,253,0.2);
    display: flex;
    justify-content: space-between;     
    margin: 10px;
    padding-bottom: 10px;
    i{
        color: $color__primary--light;
        text-align: right;
    }
    i.fa-plus-circle{
        color: $color__dark-blue;
    }
}
.group-block__name{
    @extend %group-title;
    font-weight: 900;
    text-transform: capitalize;
    a{
        color: $color__purple;
        text-decoration: none;
    }
}
.group-block__description{
    @extend %group-title;
    font-size: em(15px);
    font-weight: 300;    
    margin-top: 2px;
}
.group-block__left{
    width: 72%;
}
.group-name-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group-name-block__title{
    color: $color__dark-blue;
    display: flex;
    i{
        color: $color__dark-blue;
        position: relative;
        margin-right: 5px;
    }
}
.group-name-block__icon{
    i{
        color: $color__dark-blue;
    }
}
.modal-content__title{
    color: $color__primary--white;
    text-align: center; 
    font-size: em(16px);
    i{
        display: block;
        font-size: 50px;
        position: relative;

    }
}

.create-group-block__title{
    @extend %group-input;
}
.create-group-block__description{
    @extend %group-input;
}

// Stylize Radio button

.radio-input{
    display: inline-block;
    position: relative;
input[type=radio]{
    position: absolute;
    visibility: hidden;
  }
  label{
      color: $color__primary--white;;
    display: block;
    position: relative;
    font-weight: 300;
    font-size: em(14px);
    padding: 18px 18px 18px 30px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
  .check{
    display: block;
    position: absolute;
    border: 5px solid #ffffff;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 30px;    
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
  }
  .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 8px;
    width: 8px;
    top: 1px;
    left: 1px;
    margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
  }
  input[type=radio]:checked ~ .check {
    border: 5px solid $color__dark-blue;
  }
  
  input[type=radio]:checked ~ .check::before{
    background: $color__dark-blue;
  }
  
  input[type=radio]:checked ~ label{
    color: $color__dark-blue;
  }  
}
.create-group-block__btn{
    background: $color__dark-blue;
    border: none;
    border-radius: 5px;
    color: $color__primary--white;
    display: block;
    font-size: 14px;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
}
.pin-checkbox-block{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*
.pin-checkbox-block:hover input ~ .pin-checkbox-block__checkmark {
    background-color: $color__purple;
}
*/
.pin-checkbox-block__checbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.pin-checkbox-block__checkmark{ 
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
 /*   background-color: $color__purple; */
}
/*
.pin-checkbox-block__checbox:checked ~ .pin-checkbox-block__checkmark {
    background-color: $color__purple;
}
*/
.pin-checkbox-block__checbox:checked ~ .pin-checkbox-block__checkmark:after {
    display: block;
}
.pin-checkbox-block__checbox:checked ~ .pin-checkbox-block__checkmark::before{
    display: none;
}
.pin-checkbox-block__checkmark:after {
    content: "Pinned";
    color: $color__purple;
    position: absolute;
    display: none;
    font-size: 12px;
}
/*
.pin-checkbox-block__checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
*/
.pin-checkbox-block__checkmark:before {
    content: "Pin Post";
    color: $color__purple;
    position: absolute;
    display: block;
    font-size: 12px;
    white-space: nowrap;
}
/*
.pin-checkbox-block__checkmark:before {
    left: 8px;
    top: 8px;    
    border: solid white;
    border-width: 5px;    
}
*/

.group-block__invite{
    color: $color__dark-blue;
    text-decoration: none;
}


