%common-title{
    color: #89A9FF;
    font-size: em(16px);
    margin: 0;
}
.group-title{
    color: rgba(137,0,255,.5);
    font-family: Open Sans,sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
}   
.group-post-block{
    background-color: $color__primary--white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;    
    margin-bottom: 16px;
    padding: 13px;
}
.group-post-block__left {
    display: flex;
    justify-content: flex-start;
}
.group-post-block__right{    
    width: 100%;
}
.group-post-block__image{
    border-radius: 5px;
    max-width: 100%;
    margin-top: 10px;
}
.group-post-block__left img {
    border-radius: 100px;
    max-width: 35px;
    height: 35px;
}
.group-post-block__name{
    @extend %common-title;
    font-weight: 900;
    text-transform: capitalize;
}
.group-post-block__description{
    color: #08109b;
    font-size: em(12px); 
    font-weight: 400;  
}
.group-form{
    position: fixed;
    bottom: 0;
}
.post-author-block{
    align-items: center;       
}
.post-author-block__name{
    color: rgba(137,0,255,.5);
    font-family: $font__primary;
    font-size: 12px;    
    font-weight: 700;
    text-transform: capitalize;
}
.post-author-block__date{
    color: #89a9ff;
    font-size: 12px;    
}
.flag-dropdown{
    list-style: none;
    position: relative;
    right: 0px;
    color: $color__primary--light;
}
.flag-dropdown__submenu{
    display: none;    
    position: absolute;
    padding: 0;
    margin: 0;  
    right: 0;
    font-size: 14px;
    a{
        color: $color__purple;
        text-decoration: none;
    }
    i{
        color: $color__dark-blue;
    }
    input{
        position: absolute;
        width: 100%;        
    }
}
.flag-dropdown:hover{
    .flag-dropdown__submenu{
    display: block;
    background-color: #e5eafc;
    li{
        display: block;
        list-style: none;
        white-space: nowrap;
        padding: 10px;
        &:hover{
        background-color: $color__dark-blue;        
        i{
            color: $color__primary--white;
        }
        a{
            color: $color__primary--white;
        }
        button{
            color: $color__primary--white;
        }
    }
}
}
}