%common-title{
    color: #89A9FF;
    font-size: em(16px);
    margin: 0;
}
.group-title{
    color: rgba(137,0,255,.5);
    font-family: $font__primary;
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
}   
.group-flag-block{
    background-color: #fff;
    font-family: Open Sans,sans-serif;
    font-weight: 300;
    margin-bottom: 16px;
    padding: 13px;
}
.group-flag-block__left {
    display: flex;
    justify-content: flex-start;
}
.group-flag-block__right{
    margin-top: 10px;
    width: 100%;
}
.group-flag-block__left img {
    border-radius: 100px;    
    width: 100%;
    height: 100%;
}
.group-flag-block__description{
    color: #08109b;
    font-size: em(12px); 
    font-weight: 400;    
}
.group-flag-img-block{
    width: 35px;
    height: 35px;
}
.group-flag-post-rt-block{
    width: 82%;
    margin-left: 10px;
}
.group-flag-author-block{
      
}
.group-flag-author-block__name{
    color: $color__purple;
    font-family: $font__primary;
    font-size: 12px;    
    font-weight: 700;
    text-transform: capitalize;
}
.group-flag-block__image{
    border-radius: 5px;
    max-width: 100%;
    margin-top: 10px;    
}
.group-flag-author-block__date{
    color: #89a9ff;
    font-size: 12px;
}
.group-flag-block__trash-post{
    color: #f11f1f;
    font-size: $base__font-size;
}