   
{{#posts}}
<div class="post-main-block">
    <div class="img-block"><img src="images/dummy.png" alt="" /></div>
    <div class="post-rt-block">
        <div class="author-block">
            <div class="author-block__name">{{this.author}}</div>
            <div class="author-block__date">{{moment date format="DD-MM-YYYY"}}</div>
        </div>
        <div class="post-block">
            <div class="post-block__description">{{this.description}}</div>    
            {{#if postimage}}<div class="post-block__featured-image"><img src="/images/{{this.postimage}}" /></div>{{/if}}
        </div>
    </div>
</div>
{{/posts}}
<form method="post" action="/add" enctype="multipart/form-data" class="post-form">
    <input type="text" name="description" placeholder="Post..." class="post-form__description"/>
    <input type="file" name="postimage" class="post-form__file">
    <input name="submit" type="submit" value="send" class="post-form__button"/>
</form>

