.forgot-password{
    margin-top: em(80px);
}
.forgot-password__title{
    color: rgba(255,255,255,1);
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.forgot-password__description{
    color: rgba(255,255,255,1);
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.forgot-submit-btn{
    background: $color__dark-blue;
    border: none;
    border-radius:27px;
    box-shadow: 0 4px 5px 0 rgba(78,26,175,0.26);
    color: $color__primary--white;
    display: block;
    font-size: em(12px);
    font-weight: normal;
    margin-top: 50px;
    padding: 10px 20px;
    text-decoration: none;    
    text-align: center;
    width: 100%;
}