html{
    box-sizing:border-box
}
body{
    background: url('../images/registration-waves.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    margin: 0;
    padding: 0;
}
.container{
    width:90%;
    margin: 0 auto;
}