<div class="gradient-background">
    <div class="wall-header">
        <div class="wall-header__connect-tab">Connect Wall</div>
        <div class="wall-header__chat-tab">Chat</div>
    </div>  <!-- wall-header -->
    <div class="drop-menu">
        <a href="/users/profile"><img src="images/menu.svg" class="drop-menu__button" /></a>
    </div>     
        {{#each posts}}
            <div class="trash-block" id="{{post_id}}">
                {{#each trash}}
                    <div class="trash-block__author"> {{this.author}}</div>
                        {{#if postimage}}
                            <div class="trash-block__featured-image">
                                <img src="/images/{{this.postimage}}" />
                            </div>
                        {{/if}}
                    <div class="trash-block__description">{{this.description}}</div>  
                    <button class="trash-block__undo-btn">Undo</button>
                    <button class="trash-block__delete-btn">Delete</button>
                {{/each}}
            </div>        
        {{/each}}    
</div>