       
        {{#if success}}
            <div class="alert alert-success">{{success}}</div>
        {{/if}}
        {{#if error}}
            <div class="alert alert-error">{{error}}</div>
        {{/if}}
<form  method="POST" action="/forgot-password">
    <input type="text" name="email" autofocus >
    <input type="submit" value="submit">
</form>
Password: {{passsword}}