<div class="image-background">
    {{#if isApproved}}
    <div class="container">
        <div class="header">        
            <img src="../images/logo-new.svg" alt="" />
        </div>       
        {{#if success}}
            <div class="alert alert-success">{{success}}</div>
        {{/if}}
        {{#if error}}
            <div class="alert alert-error">{{error}}</div>
        {{/if}}
        <div class="forgot-password">
            <h2 class="forgot-password__title">Forgot password</h2>
            <p class="forgot-password__description">Please use your email to be sent a link to reset your password…</p>
        </div>
        <form  method="POST" action="/forgot-password">
            <div class="form-group"> 
                <i class="fas fa-envelope-open"></i> <input type="text" name="email" class="form-group__control" placeholder="Email">
            </div>
            <div class="form-group"> 
                <input type="submit" value="submit" class="forgot-submit-btn">
            </div>
        </form>
    </div>
    {{else}}
<h2>Admin has not approved you as Connect19 user yet</h2>
    {{/if}}
</div>