<div class="image-background">
    <div class="container">
        <div class="header">        
            <img src="../images/logo-new.svg" alt="" />
        </div>  
        {{#if success}}
            <div class="alert alert-success">{{success}}</div>
        {{/if}}
        {{#if error}}
            <div class="alert alert-error">{{error}}</div>
        {{/if}}
		<form action="/reset-password/{{token}}" method="POST">
					<h2 class="forgot-password__title" style="margin-bottom:30px;">Forgot password</h2>
					<div class="form-group singup-foorm">					
						<i class="fas fa-lock"></i><input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-group__control"/>
					</div>
					<div class="form-group singup-foorm">						
						<i class="fas fa-lock"></i><input type="password" name="confirm" value="" placeholder="Confirm password" class="form-group__control"/>
					</div>
					<div class="form-group">
						<button type="submit" class="forgot-submit-btn">Update Password</button>
					</div>
				</form>
	</div>
</div>