.post-main-block{
    background-color: rgba(255,255,255,1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;    
    margin-top: 10px;
    padding: 13px;
}
.post-top-blck{
    display: flex;
    justify-content: flex-start;
}
.img-block{
    width: 35px;
    height: 35px;
}
.img-block img{
    width: 35px;
    height: 35px;
    border-radius: 100px;
}
.post-rt-block{
    width: 82%;
    margin-left: 10px;
}
.author-block{
    display: flex;    
}
.author-block__name{
    color: rgba(137,0,255,0.5);
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    text-transform: capitalize;    
}
.author-block__date{
    color: rgba(137,169,255,1);
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 17px;    
}
.post-block{
   /* background: linear-gradient(159.45deg, rgba(97,134,240,0.85) 0%, rgba(72,75,218,0.85) 100%);  
    border-radius: 0 14px 14px 14px;*/
    color: rgba(255,255,255,1);
    font-size: 15px;
    line-height: 20px;
    padding: 20px 0px;
}
.post-block__description{
    color: rgba(8,16,155,1);
    font-weight: 400;
    margin-bottom: 10px;

}
.post-block__featured-image img{
    border-radius: 5px;
    max-width: 100%;
}
.post-form{
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: rgba(255,255,255,1);
    width: 100%;
}
.post-form__description{
    background-color: transparent;
    border: none;
    border-top: 2px solid rgba(137,169,253, 1);
    color: $color__primary;
    outline: none;    
    padding: 10px;
    width: 70%;
}
.post-form__file{
    display: none;
}
.post-form__button{
    background: url(../images/send.svg);    
    border: none;
    text-indent: -99999;
    font-size: 0px;
    height: 50px;
    width: 50px;    
}

