// Common button
%login-signup-button {
    box-shadow: 0 4px 5px 0 rgba(78,26,175,0.26);  
    border: none;
    border-radius:27px;
    color: $color__primary--white;  
    font-size: em(12px);
    padding: 10px 20px;  
    text-align: center;
    width: 100%;
  }
  
.form-group{
    display: block;
    margin-bottom: 25px;
    position: relative;
}
.form-group__control{
    border:none;
    border-bottom: 2px solid rgba(255,255,255,0.35);    
    background: none;
    color: $color__primary--white;
    font-size: em(15px);    
    padding: 5px 10px 7px 25px;
    width: 100%;
}
.form-group__control:focus{    
    outline: none;
}
.form-group__login-btn{
    @extend %login-signup-button;
    background-color: transparent;
    border: $color__primary--white solid 1px;
    box-shadow: none;
    display: block;
    text-decoration: none;
    margin-top: 50px;
}
.signup-btn{
    @extend %login-signup-button;
    background: $color__dark-blue;    
    border: $color__dark-blue solid 1px; 
    display: block;    
    font-weight: normal;
    margin-top: 10px;
    padding: 11px 20px; 
    text-decoration: none;
    width: 100%;
}
.login-btn{
    @extend %login-signup-button;
    background-color: transparent;    
    margin-top: 20px;
    display: block;
    width: 100%;
    text-decoration: none;
}
.signup-btn--margin-top{
    margin-top:20px;
}
.singup-foorm i.fas{
    color: $color__primary--white;
    position: absolute;
    top: 5px;
}
.singup-foorm i.fa-eye{
    color: $color__primary--white;
    position: absolute;
    top: 5px;
}
.background-color--blue{
    background-color: $color__dark-blue;
    border: none;
}
